@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


    *{
        margin: 0;
        padding: 0;
    }

    .indoali{
        min-width: 344px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        flex-direction: column;
        /* min-height: 480px; */
    }

    .logincadastro{
        background-color: #7F6EF2;
    }

    figure{
        margin: 0 auto;
        margin-top: 233px;
        display: flex;
        justify-content: center;
        margin-right: 1em;
    }
    .info input, .info textarea{
        border-radius: 11px;
        background-color: #F7F5FF;
        font-family: Mulish;
        color: #7C7A87;
        width: 322px;
        height: 46px;
        padding-left: 1em;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        /* border: none; */
        font-weight: 700;
    }

    #log-links{
        margin: 0 auto;
        display: flex;
        justify-content: space-between; 
        color: #F7F5FF;
        font-family: Mulish;
        font-size: 14px;
        font-weight: 600;
        width: 322px;
    }

    #log-links a{
        color: #F7F5FF;
        text-decoration: underline;
    }

    #enviar{
        border: none;
        font-weight: 700;
        border-radius: 11px;
        background-color: #E98800;
        font-family: Mulish;
        color: #F7F5FF;
        width: 322px;
        min-height: 39px;
        text-align: center;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        font-size: 17px;
        box-shadow: 0px 4px 4px #2F2959 25%;
    }

    .delete-button{
        font-weight: 700;
        border-radius: 11px;
        background-color: transparent;
        font-family: Mulish;
        color: #E98800;
        width: 322px;
        min-height: 39px;
        text-align: center;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        font-size: 17px;
        box-shadow: 0px 4px 4px #2F2959 25%;
    }

    .info{
        margin: 0;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:focus {
      transition: background-color 0s 600000s, color 0s 600000s !important;
    }

    .carousel::-webkit-scrollbar {
        display: none;
      }

    .pb-rs {
        padding-bottom: 0.146484rem;
      }

@tailwind base;
@tailwind components;
@tailwind utilities;